body, button, textarea, input{

	font-family: 'Exo', sans-serif;
	
}

#cont-publicar{
	margin: auto;
	width: 30%;
	border: 3px solid lightgrey;
	border-radius: 5px;
	padding: 10px;
}

#ver{
	margin-left: 180px;
	text-decoration: none;
	font-size: 12px;
}

img{
	width: 300px;
}

#historias{
	margin: auto;
	width: 40%;
	padding: 10px;
	background-color: #f1f1f1;
}

#pub{

	text-decoration: none;
	font-size: 12px;

}